<form #collectionForm="ngForm" (ngSubmit)="onSubmit(collectionForm)">
  <div>
    <mat-form-field class="search-full-width">
      <input
        matInput
        placeholder="Title"
        value=""
        name="title"
        ngModel
        required
        maxlength="30"
        appCustomDirective>
    </mat-form-field>
    <br>
    <mat-form-field class="search-full-width">
      <textarea
        matInput
        placeholder="Description"
        name="description"
        value=""
        ngModel
        maxlength="200"
        required></textarea>
    </mat-form-field>
  </div>
  <div class="collection-button-row">
    <button
      [disabled]="!collectionForm.valid"
      type="submit"
      mat-raised-button
      color="primary"
    >Save Collection</button>
  </div>
</form>
